@import url(../../../vars.css);

.list {
  display: flex;
  gap: 16px;

  /* overflow-y: auto; */

  scroll-snap-type: x mandatory;

  /* scrollbar-width: thin;
  scrollbar-color: #e7e5e5 #f2f2f2;

  &::-webkit-scrollbar {
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #f2f2f2;
    border-radius: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #e7e5e5;
    border-radius: 12px;
  } */
}

.listItem {
  min-width: 335px;
  height: fit-content;
  padding: 18px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  border-radius: 8px;
  border: 1px solid var(--placeholder-color);
  background: var(--background-calendar-color);

  scroll-snap-align: center;

  @media screen and (min-width: 768px) {
    min-width: 344px;
    padding: 20px;

    scroll-snap-align: start;
  }
}
