@import url(../../../vars.css);

.list {
  display: flex;

  gap: 16px;
  overflow-x: auto;
}

.listItem {
  min-width: 335px;
  padding: 18px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: 1px solid var(--placeholder-color);
  background: #fff;

  @media screen and (min-width: 768px) {
    min-width: 344px;
  }
}
