.backgroundName{
    width: 100%;
        height: 100%;
        background: linear-gradient(0deg,
                rgba(228, 216, 30, 0.7147233893557423) 9%,
                rgba(241, 255, 13, 0.8155637254901961) 100%);
        display: flex;
        align-items: center;
        justify-content: center;
}

.userNameIcon{
font-size: 18px;
    font-weight: 700;
    line-height: 1.3;

    color: black;
}

.wrapper{
    align-items: center;
        display: flex;
}

.userName{
    font-size: 14px;
        font-weight: 700;
        line-height: 1.3;
        margin-right: 14px;
        color: var(--primary-text-color);

        @media (min-width: 765px) {
            font-size: 18px;
            line-height: 1;
        }
}

.userPicture{
    width: 32px;
        height: 32px;
        overflow: hidden;
        border: 1.8px solid;
        border-radius: 50%;

        & img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        @media (min-width: 765px) {
            width: 44px;
            height: 44px;
        }
}
