.taskFormContainer {
  padding: 40px 28px;
  position: relative;
  background-color: var(--modal-background);
}

.taskFormCloseBtn {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--btn-close-feedback);
  transition: transform 0.3s var(--transition-timing-function);
  transform: scale(1);
}

.taskFormCloseBtn:hover,
feedbackFormCloseBtn:focus {
  transform: var(--transition);
}

.close {
  color: var(--primary-text-color);
  transition: color 0.3s var(--transition-timing-function);
}

.close:hover,
.close:focus {
  color: var(--hover-blue);
}

.taskFormSubtitle {
  color: var(--subtitle-color);
  opacity: 0.8;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16;
  margin-bottom: 8px;
}

.taskInput {
  width: 340px;
  height: 46px;
  padding: 14px 18px;
  border-radius: 8px;
  background: #f6f6f6;
  border: none;
  margin-bottom: 18px;
}

.taskInput::placeholder {
  color: var(--secondary-text-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
}

.invalidFeedback {
  .invalidFeedback {
    color: var(--error-color);
    font-size: 12px;
    margin-bottom: 8px;
  }
}

.timeInputContainer {
  display: flex;
  gap: 14px;
  justify-content: space-between;
}

.timeInput {
  width: 163px;
  height: 46px;
  padding: 14px 18px;
  border-radius: 8px;
  background: #f6f6f6;
  border: none;
  margin-bottom: 28px;
}

.radioBtnContainer {
  margin-bottom: 32px;
  display: flex;
  /* gap: 16px; */
}

.radioLabel {
  position: relative;
  padding-right: 16px;
  /* display: flex; */
  align-items: center;
  color: var(--secondary-text-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;

  cursor: pointer;
}

.radioInput {
  margin-right: 4px;
  cursor: pointer;
}

/* .radioSpan{
  position: absolute;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: orangered;
} */

.taskFormBtnContainer {
  display: flex;
  gap: 14px;
  justify-content: space-between;
}

.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 178px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background: var(--main-blue-color);
  color: var(--white-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
  cursor: pointer;
  transition: background-color 0.3s var(--transition-timing-function);
}

.addBtn:hover,
.addBtn:focus {
  background-color: var(--hover-blue);
}

.addBtn:disabled {
  background-color: #e5edfa;
  color: var(--secondary-text-color);
}

.cancelBtn {
  width: 144px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background: #e5edfa;
  color: var(--secondary-text-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
  cursor: pointer;
  transition: background-color 0.3s var(--transition-timing-function);
}

.cancelBtn:hover,
.cancelBtn:focus {
  background-color: #cad9f3;
}

.btnIcon {
  width: 18px;
  height: 18px;
}
