.taskFormContainer {
  padding: 40px 28px;
  position: relative;
  background-color: var(--modal-background);
}

@media (max-width: 420px) {
  .taskFormContainer {
    padding: 48px 18px 40px 18px;
  }
}

.taskFormCloseBtn {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--btn-close-feedback);
  transition: transform 0.3s var(--transition-timing-function);
  transform: scale(1);
}

.taskFormCloseBtn:hover,
feedbackFormCloseBtn:focus {
  transform: var(--transition);
}

.close {
  color: var(--primary-text-color);
  transition: color 0.3s var(--transition-timing-function);
}

.close:hover,
.close:focus {
  color: var(--hover-blue);
}

.taskFormSubtitle {
  color: var(--subtitle-color);
  opacity: 0.8;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16;
  margin-bottom: 8px;
}

.taskInput {
  width: 340px;
  height: 46px;
  padding: 14px 18px;
  border-radius: 8px;
  background: var(--input-title-task);
  border: 1px solid var(--border-title-task);
  margin-bottom: 18px;
color: var(--primary-text-color);
}

@media (max-width: 420px) {
  .taskInput {
    height: 42px;
    width: calc(100vw - 72px);
  }
}

.taskInput::placeholder {
  color: var(--primary-text-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
}

.invalidFeedback {
  color: var(--error-color);
  font-size: 12px;
  margin-bottom: 8px;
}

.timeInputContainer {
  display: flex;
  gap: 14px;
  justify-content: space-between;
}

.timeInput {
  width: 163px;
  height: 46px;
  padding: 14px 18px;
  border-radius: 8px;
  background: var(--input-title-task);
  border: 1px solid var(--border-title-task);
  margin-bottom: 28px;
  color: var(--time-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
}

@media (max-width: 420px) {
  .timeInput {
    height: 42px;
    margin-bottom: 16px;
    width: calc((100vw - 88px) / 2);
  }
}

input[type='time']::-webkit-calendar-picker-indicator {
  display: none;
}

.radioBtnContainer {
  margin-bottom: 32px;
  display: flex;
  gap: 16px;
}

.radioLabel {
  position: relative;
  padding-right: 16px;
  display: flex;
  align-items: center;
  color: var(--input-form-text);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;

  cursor: pointer;
}

.radioInput {
  margin-right: 4px;
  opacity: 0;
  cursor: pointer;
}

.radioSpan {
  position: absolute;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: grey; */
}
.radioInput[value='low'] + .radioSpan {
  background-color: #72c2f8;
}
.radioInput[value='medium'] + .radioSpan {
  background-color: #f3b249;
}
.radioInput[value='high'] + .radioSpan {
  background-color: #ea3d65;
}

.radioInput[value='low']:checked + .radioSpan {
  background-color: #72c2f8;
  outline: 1.2px solid #72c2f8;
  outline-offset: 1px;
}
.radioInput[value='medium']:checked + .radioSpan {
  background-color: #f3b249;
  outline: 1.2px solid #f3b249;
  outline-offset: 1px;
}
.radioInput[value='high']:checked + .radioSpan {
  background-color: #ea3d65;
  outline: 1.2px solid #ea3d65;
  outline-offset: 1px;
}

input[type='radio']#Yellow {
  accent-color: red;
}

.taskFormBtnContainer {
  display: flex;
  gap: 14px;
  justify-content: space-between;
}

.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 178px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background-color: var(--main-blue-color);
  color: var(--white-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
  cursor: pointer;
  transition: background-color 0.3s var(--transition-timing-function);
}

@media (max-width: 420px) {
  .addBtn {
    height: 42px;
    width: 100%;
    max-width: 178px;
  }
}

.addBtn:hover,
.addBtn:focus {
  background-color: var(--hover-blue);
}

.addBtn:disabled {
  background-color: #e5edfa;
  color: var(--secondary-text-color);
}

.cancelBtn {
  width: 144px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background: var(--card-btn-color);
  color: #111;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
  cursor: pointer;
  transition: background-color 0.3s var(--transition-timing-function);
}

@media (max-width: 420px) {
  .cancelBtn {
    height: 42px;
    width: 100%;
    max-width: 144px;
  }
}

.cancelBtn:hover,
.cancelBtn:focus {
  background-color: #cad9f3;
}

.btnIcon {
  width: 18px;
  height: 18px;
}
