@import '../../vars.css';

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.buttons_container {
    display: flex;
    margin-left: 8px;

}

.button {
    padding: 10px 10px;
    background: var(--color-paginator-button);
    border: 1px solid var(--change-month-button);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button_left {
    border-radius: 8px 0 0 8px;
    ;
}

.button_right {
    border-radius: 0 8px 8px 0;
}

.name_container_month {
    width: 107px;
}

.name_container_day {
    width: 135px;
}

.name_container_day, .name_container_month {
    display: flex;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    padding: 8px 12px;
    background: var(--main-blue-color);
    border-radius: 8px;


}

.name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.12;
    text-transform: uppercase;
    color: white;
}

.icon {
    stroke: var(--placeholder-color);
}

.icon_active {
    stroke: var(--name-color);
}
