/* CalendarTable.module.css */
@import '../../../vars.css';

.calendar-wrapper {
  margin-top: 20px;
  width: 100%;
}

.selected-day {
  display: none;
}

.calendar-link {
  text-decoration: none;
}

.calendar-link-content {
  min-width: 100%;
  min-height: 94px;
  padding: 2px;
  background-color: var(--background-calendar-color);
  border: 1px solid var(--auth-bg-color);

  @media screen and (min-width: 768px) {
    min-height: 144px;
    padding: 4px;
  }

  @media screen and (min-width: 1440px) {
    min-height: 125px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.calendar-day-task {
  list-style: none;
  margin-top: 4px;
  

  height: 45px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    height: 77px;
  }

  @media screen and (min-width: 1440px) {
    height: 54px;
  }
  
  
}



.todo-items {
  color: var(--main-blue-color);
  border-radius: 8px;
  font-size: 10px;
  font-weight: 700;
  padding: 4px 10px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.todo-bg-item-low{
  background-color: #CEEEFD;
  color: #3E85F3;
  }
  .todo-bg-item-medium{
  background-color: #FCF0D4;
  color: #F3B249;
  }
  .todo-bg-item-high{
  background-color: #FFD2DD;
  color: #EA3D65;
  }



.todo-items:not(:last-child) {
  margin-bottom: 3px;
}

.date-content {
  padding: 8px 4px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 6px;
  width: 100%;
  height: 100%;

  @media screen and (min-width: 768px) {
    border-radius: 8px;
  }
}

.custom-calendar {
  border: none;
}

.react-calendar .react-calendar__tile {
  border: none;
}

.react-calendar__tile--now {
  background-color: transparent;
  color: transparent;
  pointer-events: none;
}

.date-content-container-number {
  width: 20px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;


  @media screen and (min-width: 768px) {
    width: 27px;
    height: 26px;
  }
}

.date-content-number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-number);
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1667;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    border-radius: 8px;
  }
}

.current-date {
  background-color: #3E85F3;
  color: #fff;
  border-radius: 6px;

  @media screen and (min-width: 768px) {
    border-radius: 8px;
  }
}

button {
  border: 1px solid rgba(220, 227, 229, 0.6);
  border: none;
}

abbr {
  display: none;
}



.other-month {
  opacity: 0.5;
  pointer-events: none;
}
