.btnContainer {
  display: flex;
  gap: 10px;
}

.btn {
  background-color: transparent;
  border: none;
  color: var(--primary-text-color);
  transition: color 0.3s var(--transition-timing-function);
}

.btn:hover,
.btn:focus {
  color: var(--hover-blue);
}

.btnIcon {
  width: 14px;
  height: 14px;
}

.btnIconHover:hover,
.btnIconHover:focus {
  color: var(--hover-blue);
}

.btnMenu {
  position: relative;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 14px;
  top: -96px;
  width: 147px;
  height: 90px;
  padding: 20px 24px;
  border-radius: 8px;
  background-color: var(--white-color);
  box-shadow: 0px 4px 16px 0px rgba(17, 17, 17, 0.1);
  z-index: 777;
}

@media (max-width: 767px) {
  .menu {
    left: 168px;
    top: -88px;
    padding: 14px;
    width: 115px;
    height: 70px;
  }
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuText {
  color: var(--secondary-text-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
}

@media (max-width: 767px) {
  .menuText {
    font-size: 12px;
    line-height: 1.16;
  }
}
