.btnContainer {
  display: flex;
  gap: 10px;
}

.btn {
  background-color: transparent;
  border: none;
  color: var(--primary-text-color);
  transition: color 0.3s var(--transition-timing-function);
}

.btn:hover,
.btn:focus {
  color: var(--hover-blue);
}

.btnIcon {
  width: 14px;
  height: 14px;
}
