.btnContainer {
  display: flex;
  gap: 10px;
}

.btn {
  background-color: transparent;
  border: none;
  color: var(--primary-text-color);
  transition: color 0.3s var(--transition-timing-function);
  padding: 0;
  cursor: pointer;
  display: flex;
}

.btn:hover,
.btn:focus {
  color: var(--hover-blue);
}

.btnIcon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .btnIcon {
    width: 14px;
    height: 14px;
  }
}

.btnIconHover:hover,
.btnIconHover:focus {
  color: var(--hover-blue);
}

.btnMenu {
  position: relative;
}

.menu {
  margin-top: -100px;
  margin-left: 110px;
}

@media (max-width: 767px) {
  .menu {
    margin-top: -105px;
    margin-left: 63px;
  }
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-text-color);
  width: 99px;
}

@media (max-width: 767px) {
  .menuItem {
    width: 87px;
  }
}

.menuText {
  color: var(--secondary-text-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
  color: var(--primary-text-color);
}

@media (max-width: 767px) {
  .menuText {
    font-size: 12px;
    line-height: 1.16;
  }
}
