@import "../../vars.css";

.spinner__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  border: 4px solid var(--secondary-text-color);
  border-left: 4px solid var(--main-blue-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 500ms linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
