

@import '../../../vars.css';

.buttonOpen {

    @media (min-width: 1439px) {
      display: none;
    }
}

.buttonOpen {
    display: flex;
    align-items: center;
    justify-content: center;
  background-color:transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s;
}

.iconMenu {
    fill: var(--btn-menu-color);
    width: 24px;
    height: 24px;
    
}

.buttonOpen:hover .iconMenu {

    fill: var(--hover-blue);
    transform: var(--transition);
    transition: var(--tr-delay);
}

@media (min-width: 769px)  {
    .iconMenu {

        width: 34px;
        height: 34px;

    }
}
