

@import '../../../vars.css';


.buttonOpen {
    display: flex;
    align-items: center;
    justify-content: center;
  background-color:transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s;

    @media (min-width: 1439px) {
      display: none;
    }
}

.iconMenu {
    fill: var(--btn-menu-color);
    width: 24px;
    height: 24px;
    
    @media (min-width: 769px)  {

        width: 34px;
        height: 34px;
 
}

}

.buttonOpen:hover .iconMenu {

    fill: var(--hover-blue);
    transform: var(--transition);
    transition: var(--tr-delay);
}

