

@import '../../../vars.css';

.buttonOpen {

    @media (min-width: 1439px) {
      display: none;
    }
}

.buttonOpen {
  background-color:transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s;
}

.iconMenu {
    fill: var(--btn-menu-color);
    width: 24px;
    height: 24px;
    transition: fill 0.3s;
}

.buttonOpen:hover .iconMenu {

    fill: var(--hover-blue);
    /* transform: scale(1.2); */
}

@media (max-width: 767) and (min-width: 1440) {
    .iconMenu {
        width: 32px;
        height: 32px;
        transition: fill 0.3s;
    }
}

/* @media (min-width: 769px) and (max-width: 1440px) {
    .iconMenu {

    }
} */
