@import '../../../vars.css';

.headerTitle, 
.container {
    display: none;
}

@media (min-width: 1440px) {

.headerTitle {
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: var(--primary-text-color);
    }

.container {
   display: flex;
   align-items: center;
   height: 60px;
}

.image {
    width: 64px;
    height: 60px;
    flex-shrink: 0;
    margin-right: 8px;
}

.text_container {
    flex: 1;
      }


.text, .textLetgo {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    margin-top: 8px;
}

.text {
    color: var (--primary-text-color);
}
          

.textLetgo {
    color: var(--main-blue-color);
            }
        }