@import '../../../vars.css';

.LogoutBtn{
    padding: 14px;
    border-radius: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;

    cursor: pointer;
    margin-top: auto;
    /* position: absolute;
    bottom: 24px;
    left: 20px; */
    width: 130px;
    display: flex;
    gap: 6px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    border: none;
    text-shadow: 0px 47px 355px rgba(0, 0, 0, 0.07), 0px 9.4px 57.6875px rgba(0, 0, 0, 0.035);
    box-shadow: 4px 2px 16px 0px rgba(136, 165, 191, 0.30);
    color: var(--white-color);
    background-color: var(--main-blue-color);
    transform: scale(1);
    transition-property: transform;
    transition-duration: var(--tr-delay);
    transition-timing-function: var(--transition-timing-function);
}
.LogoutBtn:hover,
.LogoutBtn:focus{
    transform: var(--transition);
    background-color: #2B78EF;
}

.icon {
    display: block;
    width: 18px;
    height: 18px;
    fill: var(--white-color);
}

@media screen and (min-width: 1440px) {
    .icon{
        width: 20px;
        height: 20px;
    }
}