.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 14px; */
}
.bar_day {
  width: 14px;
  background: linear-gradient(
    360deg,
    #ffd2dd 0%,
    rgba(255, 210, 221, 0) 96.88%
  );
  margin-bottom: 24px;
  position: relative;
  margin-left: 106px;
}
.chart_todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 104px; */
}
.chart_in_progres {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 170px; */
}

.line {
  border-bottom: 2px solid #e3f3ff;
width: 243;
  margin-left: 58px;
  position: absolute;
  margin-bottom: 7px;
}
.line2 {
  border-bottom: 2px solid #e3f3ff;
  width: 243;

  position: absolute;
  margin-bottom: 47px;
}
.line3 {
  border-bottom: 2px solid #e3f3ff;
  width: 243;
 
  position: absolute;
  margin-bottom: 87px;
}
.line4 {
  border-bottom: 2px solid #e3f3ff;
  width: 243;
  
  position: absolute;
  margin-bottom: 127px;
}
.line5 {
  border-bottom: 2px solid #e3f3ff;
  width: 243;
  
  position: absolute;
  margin-bottom: 162px;
}
.line6 {
  border-bottom: 2px solid #e3f3ff;
  width: 243;
  
  position: absolute;
  margin-bottom: 200px;
}
.tasks_text {
  color: var(--primary-text-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.chart_done {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 170px; */
}

.bar {
  width: 14px;
  background: linear-gradient(360deg, #3e85f3 0%, rgba(62, 133, 243, 0) 100%);
  margin-bottom: 24px;
  position: relative;
}

.bar-label {
  color: var(--primary-text-color);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;

  font-weight: 500;
  line-height: 18px;
  transform: translateX(-50%);
}
.bar-label_inProgres {
  color: var(--primary-text-color);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  margin-left: -30px;
  font-weight: 500;
  line-height: 18px;
  transform: translateX(-50%);
}

.nameBar {
  color: var(--primary-text-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 5px;
  text-align: center;
  margin-bottom: -30px;
}
.nameBar_progress {
  color: var(--primary-text-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 5px;
  text-align: center;
  margin-bottom: -30px;
}
.nameBar_done {
  color: var(--primary-text-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 5px;
  text-align: center;
  margin-bottom: -30px;
}
.x-axis {
  display: flex;
  justify-content: center;

  flex-direction: column-reverse;
  color: var(--primary-text-color);
}

.x-axis span {
  margin-top: 20px;
}

.statistickImg {
  border: 1px solid var(--auth-bg-color);
  border-radius: 20px;
  margin-left: 14px;
  margin-right: 14px;
  padding-right: 14px;
  padding-left: 14px;

  @media screen and (min-width: 768px) {
    width: 640px;
    height: 424px;

  }
  @media screen and (min-width: 1440px) {
    width: 860px;
    height: 440px;
  
  }

  

}
.statistic_centr {
  display: flex;
  align-items: flex-end;

}
.bar-label_month {
  color: var(--primary-text-color);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;

  font-weight: 500;
  line-height: 18px;
  transform: translateX(-50%);
}
.bar-label_todo {
  color: var(--primary-text-color);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  transform: translateX(-50%);
}

.bar-label_inProgresDay {
  color: var(--primary-text-color);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  transform: translateX(-50%);
}


  .chart {
    flex-direction: column;
  }
  .statistic_centr {
    position: relative;
   
  }
  .bar-label {
    font-size: 12px;
  }
  .bar-label_inProgresDay {
    font-size: 12px;
    margin-left: 17px;
  }
  .bar-label_inProgres {
    font-size: 12px;
    margin-left: -17px;
  }
  .bar-label_month {
    font-size: 12px;
    margin-left: 0px;
  }
  .bar-label_todo {
    font-size: 12px;
    margin-left: 10px;
  }
  .line {
    width: 243px;
    margin-left: 10px;
    @media screen and (min-width: 768px) {
      width: 580px;
   
   
    }
    @media screen and (min-width: 1440px) {
      width: 782px;
    
   
    }
  }
  .line2 {
    width: 243px;
    margin-left: 40px;
    @media screen and (min-width: 768px) {
      width: 522px;
   
   
    }
    @media screen and (min-width: 1440px) {
      width: 694px;
    
   
    }
  }
  .line3 {
    width: 243px;
    margin-left: 40px;
    @media screen and (min-width: 768px) {
      width: 522px;
   
   
    }
    @media screen and (min-width: 1440px) {
      width: 694px;
    
   
    }
  }
  .line4 {
    width: 243px;
    margin-left: 40px;
    @media screen and (min-width: 768px) {
      width: 522px;
   
   
    }
    @media screen and (min-width: 1440px) {
      width: 694px;
    
   
    }
  }
  .line5{
    width: 243px;
        margin-left: 40px;
        @media screen and (min-width: 768px) {
          width: 522px;
       
       
        }
        @media screen and (min-width: 1440px) {
          width: 694px;
        
       
        }
  }
  .line6 {
    width: 243px;
    margin-left: 40px;
    @media screen and (min-width: 768px) {
      width: 522px;
   
   
    }
    @media screen and (min-width: 1440px) {
      width: 694px;
    
   
    }
  }
  .line {
    width: 243px;
    margin-left: 40px;
  }
  .bar_day {
    margin-left: 0px;
  }
  .nameBar {
    font-size: 12px;
  }
  .nameBar_progress {
    font-size: 12px;
  }
  .nameBar_done {
    font-size: 12px;
  }

@media screen and (min-width: 768px) {
  .bar-label {
    font-size: 16px;
    margin-left: -17px;
  }
  .statistickImg {
    margin-left: 35px;
    margin-right: 35px;
  }
  .statistic_centr {
    margin: 0px 34px;
  }
  .bar-label_todo {
    margin-left: 3px;
    font-size: 16px;
  }
  .bar-label_inProgres {
    font-size: 16px;
    margin-left: -30px;
  }
  .bar-label_inProgresDay {
    font-size: 16px;
    margin: 0px;
  }
  .bar-label_month {
    font-size: 16px;
    margin: 0px;
  }
  .nameBar {
    font-size: 14px;
  }
  .chart_todo {
    margin-left: 104px;
  }
  .chart_done {
    margin-left: 130px;
  }
  .chart_in_progres {
    margin-left: 127px;
  }
  .nameBar_progress {
    font-size: 14px;
  }
  .nameBar_done {
    font-size: 14px;
  }
}
@media screen and (min-width: 1400px) {
  .line {
    width: 39%;
  }
  .line {
    width: 39%;
  }
  .line {
    width: 39%;
  }
  .line {
    width: 39%;
  }
  .line {
    width: 39%;
  }
  .line {
    width: 39%;
  }
}
