.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 14px; */
}
.bar_day {
  width: 22px;
  background: linear-gradient(
    360deg,
    #ffd2dd 0%,
    rgba(255, 210, 221, 0) 96.88%
  );
  margin-bottom: 8px;
  position: relative;
  margin-left: 106px;
}
.chart_todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }
}
.chart_in_progres {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 170px; */
}

.line {
  border-bottom: 2px solid #e3f3ff;
  width: 243;
  margin-left: 58px;
  position: absolute;
  margin-bottom: 7px;

  @media screen and (min-width: 768px) {
    width: 522px;
  }
  @media screen and (min-width: 1440px) {
    width: 782px;
  }
}
.line2 {
  border-bottom: 2px solid #e3f3ff;
  width: 243;

  position: absolute;
  margin-bottom: 47px;
}
.line3 {
  border-bottom: 2px solid #e3f3ff;
  width: 243;

  position: absolute;
  margin-bottom: 87px;
}
.line4 {
  border-bottom: 2px solid #e3f3ff;
  width: 243;

  position: absolute;
  margin-bottom: 127px;
}
.line5 {
  border-bottom: 2px solid #e3f3ff;
  width: 243;

  position: absolute;
  margin-bottom: 162px;
}
.line6 {
  border-bottom: 2px solid #e3f3ff;
  width: 243;

  position: absolute;
  margin-bottom: 200px;
}
.tasks_text {
  color: var(--primary-text-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.chart_done {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 170px; */
}

.bar {
  width: 22px;
  background: linear-gradient(360deg, #3e85f3 0%, rgba(62, 133, 243, 0) 100%);
  margin-bottom: 9px;
  position: relative;
  border-radius: 5px;
  flex-shrink: 0;
}

.bar-label {
  color: var(--primary-text-color);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;

  font-weight: 500;
  line-height: 1,125;
  transform: translateX(-50%);
}
.bar-label_inProgres {
  color: var(--primary-text-color);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  margin-left: -30px;
  font-weight: 500;
  line-height: 18px;
  transform: translateX(-50%);
}

.nameBar {
  color: var(--primary-text-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 5px;
  text-align: center;
  margin-bottom: -30px;
}
.nameBar_progress {
  color: var(--primary-text-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 5px;
  text-align: center;
  margin-bottom: -30px;
}
.nameBar_done {
  color: var(--primary-text-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 5px;
  text-align: center;
  margin-bottom: -30px;
}
.x-axis {
  display: flex;
  justify-content: center;

  flex-direction: column-reverse;
  color: var(--primary-text-color);
}

.x-axis span {
  margin-top: 20px;
}

.statistickImg {
  border: 1px solid var(--auth-bg-color);
  border-radius: 20px;
  margin-left: 14px;
  margin-right: 14px;
  padding-right: 14px;
  padding-left: 14px;

  height: 413px;
  padding-top: 40px;

  @media screen and (min-width: 768px) {
    width: 640px;
    height: 424px;

    border-radius: 29px;

    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;

    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1440px) {
    width: 860px;
    height: 440px;
  }
}
.statistic_centr {
  display: flex;
  align-items: flex-end;
}
.bar-label_month {
  color: var(--primary-text-color);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;

  font-weight: 500;
  line-height: 18px;
  transform: translateX(-50%);
}
.bar-label_todo {
  color: var(--primary-text-color);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  transform: translateX(-50%);
}

.bar-label_inProgresDay {
  color: var(--primary-text-color);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  transform: translateX(-50%);
}

.chart {
  flex-direction: column;
}
.statistic_centr {
  position: relative;
}
.bar-label {
  font-size: 12px;
}
.bar-label_inProgresDay {
  font-size: 12px;
  margin-left: 17px;
}
.bar-label_inProgres {
  font-size: 12px;
  margin-left: -17px;
}
.bar-label_month {
  font-size: 12px;
  margin-left: 0px;
}
.bar-label_todo {
  font-size: 12px;
  margin-left: 10px;
}
.line {
  width: 243px;
  margin-left: 40px;
  @media screen and (min-width: 768px) {
    width: 522px;
  }
  @media screen and (min-width: 1440px) {
    width: 694px;
  }
}
.line2 {
  width: 243px;
  margin-left: 40px;
  @media screen and (min-width: 768px) {
    width: 522px;
  }
  @media screen and (min-width: 1440px) {
    width: 694px;
  }
}

.line3 {
  width: 243px;
  margin-left: 40px;

  @media screen and (min-width: 768px) {
    width: 522px;
  }
  @media screen and (min-width: 1440px) {
    width: 694px;
  }
}

.line4 {
  width: 243px;
  margin-left: 40px;

  @media screen and (min-width: 768px) {
    width: 522px;
  }

  @media screen and (min-width: 1440px) {
    width: 694px;
  }
}
.line5 {
  width: 243px;
  margin-left: 40px;
  @media screen and (min-width: 768px) {
    width: 522px;
  }
  @media screen and (min-width: 1440px) {
    width: 694px;
  }
}
.line6 {
  width: 243px;
  margin-left: 40px;
  @media screen and (min-width: 768px) {
    width: 522px;
  }
  @media screen and (min-width: 1440px) {
    width: 694px;
  }
}

.bar_day {
  margin-left: 0px;
}
.nameBar {
  font-size: 12px;
}
.nameBar_progress {
  font-size: 12px;
}
.nameBar_done {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .bar-label {
    font-size: 16px;
    margin-left: -17px;
  }

  .bar-label_todo {
    margin-left: 3px;
    font-size: 16px;
  }
  .bar-label_inProgres {
    font-size: 16px;
    margin-left: -30px;
  }
  .bar-label_inProgresDay {
    font-size: 16px;
    margin: 0px;
  }
  .bar-label_month {
    font-size: 16px;
    margin: 0px;
  }
  .nameBar {
    font-size: 14px;
  }
  .chart_todo {
    @media screen and (min-width: 1440px) {
      margin-left: 80px;
    }
  }
  .chart_done {
    margin-left: 130px;
    @media screen and (min-width: 1440px) {
      margin-left: 165px;
    }
  }
  .chart_in_progres {
    margin-left: 127px;
    @media screen and (min-width: 1440px) {
      margin-left: 165px;
    }
  }
  .nameBar_progress {
    font-size: 14px;
  }
  .nameBar_done {
    font-size: 14px;
  }
}
