.event-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: var(--background-user-page);
  margin-top: 64px;
  margin-bottom: 40px;
  border-radius: 16px;
}

.dayCount {
  position: absolute;
  display: flex;
  margin-top: 64px;
  align-items: center;
}

.statisticsByDay {
  color: var(--primary-text-color);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  display: list-item;
  font-weight: 400;
  margin-right: 39px;
  line-height: 18px;
  margin-left: 280px;
}

.statisticsByDay::marker {
  color: #ffd2dd;
}

.statisticsByMonth {
  color: var(--primary-text-color);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  display: list-item;
  font-weight: 400;
  line-height: 18px;
}

.statisticsByMonth::marker {
  color: #3e85f3;
}

.dayCount {
  margin-top: 40px;
}

@media screen and (min-width: 368px) {
  .event-container {
    margin-top: 65px;
  }

  .statisticsByDay {
    margin-left: 0px;
  }

  .dayCount {
    display: flex;
    margin-left: -90px;
  }
  .pagination {
    display: block;
  }
  .statistick_day_month {
    display: flex;
    margin-top: 65px;
    margin-left: -203px;
  }
}
@media screen and (min-width: 768px) {
  .statisticsByDay {
    margin-left: 0px;
  }

  .dayCount {
    position: absolute;
    display: flex;
    margin-top: 64px;
    align-items: center;
    margin-left: 0px;
  }

  .statistick_day_month {
    margin-top: 0px;
    margin-left: 278px;
  }
}
@media screen and (min-width: 1440px) {
  .event-container {
    margin-top: 33px;
    margin-bottom: 32px;
  }

  .statisticsByDay {
    margin-left: 280px;
  }

  .dayCount {
    margin-bottom: 32px;
    margin-top: 38px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .statistick_day_month {
    margin-top: 0px;
    margin-left: 30px;
  }
}
