/* statitickChart.css */

.event-container {
  margin-top: 64px;
  background-color: #fff;
  border-radius: 16px;
  width: 335px;
  height: 685px;

  @media screen and (min-width: 768px) {
    width: 704px;
  height: 854px;
 
  }
  @media screen and (min-width: 1440px) {
    width: 1087px;
  height: 754px;
 
  }
}

.dayCount {
  display: flex;
  flex-wrap: wrap;
  padding: 28px 14px 40px 14px;

}


.statistick_day_month {
  padding-top: 20px;
  display: flex;
  gap: 20px;
}

.statisticsByDay,
.statisticsByMonth {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #333; /* Змініть колір, якщо потрібно */
}

.statisticsByDay:hover,
.statisticsByMonth:hover {
  color: #007bff; /* Змініть колір при наведенні, якщо потрібно */
}

.event-form {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc; /* Змініть колір рамки, якщо потрібно */
  border-radius: 5px;
  background-color: #f9f9f9; /* Змініть колір фону, якщо потрібно */
}

.event-form h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.event-form p {
  font-size: 16px;
  margin-bottom: 10px;
}

.event-form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Змініть колір рамки, якщо потрібно */
  border-radius: 5px;
  font-size: 16px;
}

.create-btn {
  background-color: #007bff; /* Змініть колір кнопки, якщо потрібно */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.create-btn:hover {
  background-color: #0056b3; /* Змініть колір при наведенні, якщо потрібно */
}

.event-list {
  margin-bottom: 20px;
}

.event-list h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.event-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.event-card {
  width: calc(33.33% - 20px);
  border: 1px solid #ccc; /* Змініть колір рамки, якщо потрібно */
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9; /* Змініть колір фону, якщо потрібно */
}

.event-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-date {
  font-size: 16px;
  font-weight: bold;
}

.event-actions {
  display: flex;
  gap: 10px;
}

.update-btn,
.delete-btn {
  background-color: #007bff; /* Змініть колір кнопок, якщо потрібно */
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.update-btn:hover,
.delete-btn:hover {
  background-color: #0056b3; /* Змініть колір кнопок при наведенні, якщо потрібно */
}

.event-card-body {
  padding-top: 10px;
}

.event-title {
  font-size: 16px;
}
