@import '../../../vars.css';

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 24px;
    margin-top: 64px;
}

@media screen and (min-width: 768px) {
    .wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 1440px) {
    .wrapper {
        margin-bottom: 32px;
        margin-top: 0;
    }
}