.feedbackFormContainer {
  padding: 32px;
  position: relative;
  background-color: var(--modal-background);
}

@media (max-width: 480px) {
  .feedbackFormContainer {
    padding: 20px;
  }
}

.feedbackFormCloseBtn {
  position: absolute;
  top: 18px;
  right: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--btn-close-feedback);
  transform: scale(1);
}

.close {
  transform: scale(1);
  transition: color 0.25s var(--transition-timing-function);
}

.close:hover,
.close:focus {
  transform: var(--transition);
  color: var(--hover-blue);
}

.feedbackFormTopSubtitle {
  color: var(--subtitle-color);
  opacity: 0.8;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16;
}

.feedbackFormSubtitle {
  margin-bottom: 8px;
  color: var(--subtitle-color);
  opacity: 0.8;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16;
}

.feedbackFormInput {
  margin-bottom: 18px;
  width: 404px;
  height: 127px;
  padding: 14px 18px;
  border: none;
  border-radius: 8px;
  background: var(--input-background-color);
  resize: none;
  color: var(--input-form-text);
}

@media (max-width: 480px) {
  .feedbackFormInput {
    width: calc(100vw - 80px);
    height: 130px;
  }
}

.feedbackFormInput::placeholder {
  color: var(--secondary-text-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
}

.inputRadio {
  display: none;
}

.feedbackFormStar {
  cursor: pointer;
  margin-bottom: 24px;
  margin-right: 2px;
}

.feedbackFormBtnContainer {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.feedbackFormSaveBtn {
  display: block;
  width: 198px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background-color: var(--main-blue-color);
  color: var(--white-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
  cursor: pointer;
  transition: background-color 0.25s var(--transition-timing-function);
}

.feedbackFormSaveBtn:hover,
.feedbackFormSaveBtn:focus {
  background-color: var(--hover-blue);
}

@media (max-width: 480px) {
  .feedbackFormSaveBtn {
    width: 100%;
    max-width: 198px;
    height: 42px;
  }
}

.feedbackFormSaveBtn:disabled {
  background-color: #e5edfa;
  color: var(--secondary-text-color);
}

.feedbackFormEditSendBtn {
  display: block;
  width: 198px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background-color: var(--main-blue-color);
  color: var(--white-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
  cursor: pointer;

  transition: background-color 0.25s var(--transition-timing-function);
}

.feedbackFormEditSendBtn:hover,
.feedbackFormEditSendBtn:focus {
  background-color: var(--hover-blue);
}

@media (max-width: 480px) {
  .feedbackFormEditSendBtn {
    width: 100%;
    max-width: 198px;
    height: 42px;
  }
}

.feedbackFormCancelBtn {
  display: block;
  width: 198px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background-color: #e5edfa;
  color: var(--secondary-text-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
  cursor: pointer;

  transition: background-color 0.25s var(--transition-timing-function);
}

.feedbackFormCancelBtn:hover,
.feedbackFormCancelBtn:focus {
  background-color: #cfdff8;
}

@media (max-width: 480px) {
  .feedbackFormCancelBtn {
    width: 100%;
    max-width: 198px;
    height: 42px;
  }
}

.feedbackFormReviewBtnContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.feedbackFormTopBtnContainer {
  display: flex;
  gap: 8px;
}

.feedbackFormEditBtn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: var(--btn-edit-feedback);
  cursor: pointer;

  transition: background-color 0.25s var(--transition-timing-function),
    color 0.25s var(--transition-timing-function);
  color: #3e85f3;
}

.feedbackFormEditBtn:hover,
.feedbackFormEditBtn:focus {
  background-color: var(--main-blue-color);
  color: #ffffff;
}

.feedbackFormDeleteBtn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: rgba(234, 61, 101, 0.2);
  cursor: pointer;
  transition: background-color 0.25s var(--transition-timing-function),
    color 0.25s var(--transition-timing-function);
  color: #ea3d65;
}

.feedbackFormDeleteBtn:hover,
.feedbackFormDeleteBtn:focus {
  background-color: #ea3d65;
  color: #ffffff;
}

.invalidFeedback {
  color: var(--error-color);
  font-size: 12px;
  margin-bottom: 8px;
}
