.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  width: min-content;
  height: min-content;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid rgba(220, 227, 229, 0.8);
  background: var(--white-color);
  box-shadow: 0px 4px 57px 0px rgba(17, 17, 17, 0.05);
}

@media (max-width: 480px) {
  .modalContent {
    width: calc(100vw - 40px);
  }
}
