.taskCard {
  border: 1px solid red;
  height: 108px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 14px;

  border: 1px solid rgba(220, 227, 229, 0.8);
  background-color: #f7f6f9;
  border-radius: 8px;
  padding: 14px 14px 18px;
}

@media (min-width: 765px) {
  .taskCard {
    height: 112px;
    margin-bottom: 18px;
  }
}

.cardTitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #111;

  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardInfo {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.styledInfo {
  display: flex;
  gap: 8px;
}

.userLogo {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  color: black;

  background: linear-gradient(
    0deg,
    rgba(228, 216, 30, 0.7147233893557423) 9%,
    rgba(241, 255, 13, 0.8155637254901961) 100%
  );

  & img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  border: 1.8px solid #3e85f3;
}

.priorityTitle {
  padding: 4px 12px;
  border-radius: 4px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

.todobgitemlow {
  background-color: #72C2F8;
  color: var(--white-color);
}

.todobgitemmedium {
  background-color: #F3B249;
  color:var(--white-color);
}

.todobgitemhigh {
  background-color: #EA3D65;
  color:var(--white-color);
}
