.header {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 24px 20px 64px 20px; */
  padding-top: 24px;

  /* @media (min-width: 768px) {
    padding: 24px 32px 64px 32px;
    
  } */
}

@media screen and (min-width: 1440px) {
  .header {
    padding-top: 40px;
    margin-left: 32px;
  }
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: auto;
}
