@import '../../vars.css';

.userPanName {
    font-size: 12px;
    margin-bottom: 24px;
    color: var(--gray-color); 
}
@media screen and (max-width: 1439px) {
    .userPanName {
        font-size: 14px;
        margin-bottom: 32px; 
    }     
}

.closeBtn{
    cursor: pointer;
    position: absolute;
    top: 36px;
    right: 26px;

    border: none;
    background-color: #fff;
}
@media screen and (min-width: 768px){
 .closeBtn{
    top: 25px;
    right: 20px;
 }
}
@media screen and (min-width: 1440px){
    .closeBtn{
display: none;
    }
   }

.closeIcon{
    width: 24px;
    height: 24px; 
}
.closeIcon:hover{
    color: var(--main-blue-color);
}

.sidebarstyle {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background-color:var(--white-color);
    height: 100%;
    width: 290px;
}


@media screen and (min-width: 768px) {
    .sidebarstyle {
        width: 289px;
        padding: 24px 32px;
    }
}
.sidebarstyle.isOpenSidebarTest {
    transform: translateX(0);
    z-index: 999;
    transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: var
  }

@media screen and (max-width: 1439px){
    .sidebarstyle {
        z-index:3;
        position: fixed;
        left: 0px;
        top: 0px;
        padding: 24px 20px;
        background-color:var(--white-color);
        transform: translateX(-100%);
        transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: var(--transition-timing-function);
    }
    
}


