:root {
    --primary-text-color: #111111;
    --secondary-text-color: #343434;
    --title-text-color: #171820;
    --white-color: #FFF;
    --bg-color: #F7F6F9;
    --dark-bg-color: #171820;
    --auth-bg-color: #DCEBF7;
    --user-bg-color:#EAEAEA;
    --account-bg-color: #21222C;
    --dark-sidebar-bg-color: #13151A;
    --main-blue-color: #3E85F3;
    --hover-blue: #2B78EF;
    --blue2-color: #DCEBF7;
    --pink-color: #FFD2DD;
    --error-color: #DA1414;
    --green-color: #3CBC81;
    --gray-color: #84828A;
    --placeholder-color: #DCE3E5;
    --transition-timing-function: cubic-bezier(0, 0.11, 0.35, 2);
    --tr-delay: 150ms;
    --transition: scale(0.9);
  }