@import '../../../vars.css';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 18px;
  margin-bottom: 14px;
  background-color: var( --background-calendar-color);
  border-radius: 8px;
  border: 1px solid var(--placeholder-color);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 10px 32px;
    margin-bottom: 16px;
  }
}

.list__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--subtitle-color);
  font-size: 16px;
  font-family: inherit;
  font-weight: 600;
  line-height: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.day__name {
  margin-bottom: 10px;
  color: var(--color-day);
}

.day__number {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  padding: 4px 6px;
  color: var(--color-number);
}

.activeDay{
  background-color: var(--main-blue-color);
  color: var(--white-color);
  border-radius: 6px;
  border: none;

}

@media screen and (min-width: 768px) {
  .day__name {
    margin-bottom: 8px;
    text-transform: uppercase;
  }
  .day__number {
    font-size: 16px;
    line-height: 18px;
    padding: 4px 8px;
  }
  .activeDay{

    border-radius: 8px;
  }
}
