.react-datepicker-wrapper {
  display: block;
}
.react-datepicker__day {
  color: var(--white-color);
}

.react-datepicker__day--selected {
  background-color: var(--white-color);
  color: var(--main-blue-color);
  border-radius: 100%;
}

.react-datepicker {
  background-color: var(--main-blue-color);
}

.react-datepicker__header {
  background-color: var(--main-blue-color);
  color: var(--white-color);
  border: none;
}

.react-datepicker__navigation {
  color: var(--white-color);
}

.react-datepicker__current-month {
  color: var(--white-color);
}

.react-datepicker__day-name {
  color: var(--white-color);
}

.react-datepicker {
  border-radius: 10px;
}

.react-datepicker__day--weekend {
  color: rgba(255, 255, 255, 0.3);
}

.react-datepicker__day--outside-month {
  color: transparent;
}
.react-datepicker__navigation--previous {
  left: 3px;
  top: 8px;
}
.react-datepicker__navigation--next {
  right: 3px;
  top: 8px;
}

.react-datepicker__day-name {
  color: #ffff;
  font-family: inherit;
  font-size: 16px;
}

.react-datepicker__header {
  height: 83px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: none;
}
