@import '../../../vars.css';

.user {
  display: flex;
  flex-direction: column;
  padding: 0 18px 40px 18px;
  margin-top: 95px;
  margin-bottom: 38px;
  background: var(--background-user-page);
  border-radius: 16px;
}
@media screen and (min-width: 767px) {
  .user {
    margin-top: 64px;
    display: flex;
    padding: 0 175px 40px 175px;
    /* height: 854px; */
  }
}
@media screen and (min-width: 1440px) {
  .user {
    padding: 0 165px 60px 165px;
    margin-top: 32px;
    /* height: 752px; */
  }
}

.user__avatar_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 767px) {
  .user__avatar_container {
    transform: none;
  }
}

.user__avatar-container {
  margin-bottom: 40px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  border: 2px solid var(--main-blue-color);
  border-radius: 50%;
  background-color: var(--background-color);
}

.user__avatar {
  position: relative;
  width: 72px;
  height: 72px;
  border: 2px solid var(--main-blue-color);
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 20px;
  margin-top: 20px;
}
@media screen and (min-width: 767px) {
  .user__avatar {
    width: 124px;
    height: 124px;
  }
}

.avatar_upload_btn {
  position: absolute;
  width: 14px;
  height: 14px;
  bottom: -4px;
  right: 26px;
  z-index: 1;
}
@media screen and (min-width: 767px) {
  .avatar_upload_btn {
    width: 24px;
    height: 24px;
    bottom: -6px;
    right: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.user__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 18px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: var(--input-form-text);
  margin-bottom: 8px;
}

.user__role {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 14px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: var(--type-profile);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.user_form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .user_form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px 50px;
    justify-content: center;
  }
}
.birthday__label {
  position: relative;
}

.user_form_input,
input[type='text'] {
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 14px 18px 14px 18px;
  border: 1px solid var(--border-user-color);
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--background-user-page);
  color: var(--primary-text-color);
}

.user_form_input:hover,
input[type='text']:hover {
  border: 1px solid var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .user_form_input:nth-of-type(1),
  .user_form_input:nth-of-type(3),
  input[type='text']:nth-of-type(1),
  input[type='text']:nth-of-type(3) {
    margin-right: 50px;
  }
}
.user_form_input.is_invalid,
input[type='text'].is_invalid {
  border: 2px solid #dc3545;
}

.user_form_input > :-moz-placeholder-shown {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: var(--primary-text-color);
}

.user_form_input > :placeholder-shown {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: var(--primary-text-color);
}

.user_form-input--last {
  margin-bottom: 0;
}

.date_picker {
  width: 373px;
}

.custom__datepicker__arrow {
  position: absolute;
  bottom: 20px;
  right: 14px;
  width: 17px;
  height: 17px;
}

.isInvalidLabel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #dc3545;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .isInvalidLabel {
    font-size: 14px;
    line-height: 1.2;
  }
}

.isValidLabel {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: var(--green-color);
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .isValidLabel {
    font-size: 14px;
    line-height: 1.2;
  }
}

.label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: var(--label-user-page);
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .label {
    font-size: 14px;
    line-height: 1.2;
  }
}

.labelText {
  margin-bottom: 0px;
}

.feedback {
  height: 25px;
  margin-top: 8px;
  margin-left: 10px;
}

.invalidFeedback {
  color: var(--error-color);
  font-size: 12px;
}

.validFeedback {
  color: var(--green-color);
  font-size: 12px;
}
.isValid {
  background: var(--white-color);
  border: 1px solid var(--green-color);
  color: var(--primary-text-color);
}
.isValid:focus {
  border: 1px solid var(--primary-text-color);
}
.isValid:hover {
  border: 1px solid var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .isValid {
    padding: 18px;
  }
}

.isInvalid {
  background: var(--white-color);
  border: 1px solid var(--error-color);
  color: var(--primary-text-color);
}

.isInvalid:focus {
  border: 1px solid var(--primary-text-color);
}
.isInvalid:hover {
  border: 1px solid var(--primary-text-color);
}
.isInvalid::-moz-placeholder {
  font-size: 14px;
}
.isInvalid::placeholder {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .isInvalid {
    padding: 18px;
  }
}

.icon {
  fill: var(--main-blue-color);
  width: 18px;
  height: 18px;
  margin-left: 11px;
  cursor: pointer;
}
.icon :hover {
  fill: var(--hover-blue);
}
.circularAvatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid var(--main-blue-color);
  border-radius: 50%;
}
.myCustomIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  z-index: 1;
}
